In [2]:
import pandas
from astropy.time import *

In [26]:
tess_df = pandas.read_csv('data/tess_times.csv')

In [38]:
for index,row in tess_df.iterrows():
    start_jd = Time(row['start']).jd
    end_jd = Time(row['end']).jd
    tess_df.at[index,'start_jd'] = start_jd
    tess_df.at[index,'end_jd'] = start_jd
    tess_df.at[index,'start_btjd'] = start_jd-2457000
    tess_df.at[index,'end_btjd'] = end_jd-2457000

In [39]:
print(tess_df)

    sector       start         end   start_jd     end_jd  start_btjd  end_btjd
0        1  2018-07-25  2018-08-22  2458324.5  2458324.5      1324.5    1352.5
1        2  2018-08-22  2018-09-20  2458352.5  2458352.5      1352.5    1381.5
2        3  2018-09-20  2018-10-18  2458381.5  2458381.5      1381.5    1409.5
3        4  2018-10-18  2018-11-15  2458409.5  2458409.5      1409.5    1437.5
4        5  2018-11-15  2018-12-11  2458437.5  2458437.5      1437.5    1463.5
5        6  2018-12-11  2019-01-07  2458463.5  2458463.5      1463.5    1490.5
6        7  2019-01-07  2019-02-02  2458490.5  2458490.5      1490.5    1516.5
7        8  2019-02-02  2019-02-28  2458516.5  2458516.5      1516.5    1542.5
8        9  2019-02-28  2019-03-26  2458542.5  2458542.5      1542.5    1568.5
9       10  2019-03-26  2019-04-22  2458568.5  2458568.5      1568.5    1595.5
10      11  2019-04-22  2019-05-21  2458595.5  2458595.5      1595.5    1624.5
11      12  2019-05-21  2019-06-19  2458624.5  2458624.5      1624.5    1653.5
12      13  2019-06-19  2019-07-18  2458653.5  2458653.5      1653.5    1682.5

In [30]:
tess_df.to_csv('data/tesstimes.csv')

In [44]:
k2_df = pandas.read_csv('data/k2_times.csv')

In [47]:
for index,row in k2_df.iterrows():
    start_jd = Time(row['start']).jd
    end_jd = Time(row['end']).jd
    k2_df.at[index,'start_jd'] = start_jd
    k2_df.at[index,'end_jd'] = start_jd
    k2_df.at[index,'start_kjd'] = start_jd-2454833
    k2_df.at[index,'end_kjd'] = end_jd-2454833

In [48]:
print(k2_df)

    campaign       start         end   start_jd     end_jd  star_kjd  end_kjd  \
0          0  2014-03-08  2014-05-27  2456724.5  2456724.5       NaN   1971.5
1          1  2014-05-30  2014-08-21  2456807.5  2456807.5       NaN   2057.5
2          2  2014-08-23  2014-11-13  2456892.5  2456892.5       NaN   2141.5
3          3  2014-11-14  2015-02-03  2456975.5  2456975.5       NaN   2223.5
4          4  2014-02-07  2015-04-23  2456695.5  2456695.5       NaN   2302.5
5          5  2015-04-27  2015-07-10  2457139.5  2457139.5       NaN   2380.5
6          6  2015-07-14  2015-09-30  2457217.5  2457217.5       NaN   2462.5
7          7  2015-10-04  2015-12-26  2457299.5  2457299.5       NaN   2549.5
8          8  2016-01-03  2016-03-23  2457390.5  2457390.5       NaN   2637.5
9          9  2016-04-21  2016-07-01  2457499.5  2457499.5       NaN   2737.5
10        10  2016-07-06  2016-09-26  2457575.5  2457575.5       NaN   2824.5
11        11  2016-09-24  2016-12-08  2457655.5  2457655.5       NaN   2897.5
12        12  2018-12-15  2017-03-04  2458467.5  2458467.5       NaN   2983.5
13        13  2017-03-08  2017-05-27  2457820.5  2457820.5       NaN   3067.5
14        14  2017-05-31  2017-08-19  2457904.5  2457904.5       NaN   3151.5
15        15  2017-08-23  2017-11-20  2457988.5  2457988.5       NaN   3244.5
16        16  2017-12-07  2018-02-25  2458094.5  2458094.5       NaN   3341.5
17        17  2018-03-01  2018-05-08  2458178.5  2458178.5       NaN   3413.5
18        18  2018-05-12  2018-07-02  2458250.5  2458250.5       NaN   3468.5
19        19  2018-08-29  2018-09-26  2458359.5  2458359.5       NaN   3554.5

    start_kjd
0      1891.5
1      1974.5
2      2059.5
3      2142.5
4      1862.5
5      2306.5
6      2384.5
7      2466.5
8      2557.5
9      2666.5
10     2742.5
11     2822.5
12     3634.5
13     2987.5
14     3071.5
15     3155.5
16     3261.5
17     3345.5
18     3417.5
19     3526.5

In [ ]:
tess_df.to_csv('data/tesstimes.csv')